/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*DEBUG*/


/*COMMON*/
.flex-container {
    display: flex;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container-small {
    width: 65%;
    margin: 0 auto;
    padding: 80px 0;
}
.bkg-lightblue {
    background-color: #b4d0e7;
}
.hr-style {
    width: 40px;
    padding: 30px 0;
}
h1 {
    font-size: 65px;
}
h2 {
    font-size: 40px;
    padding-bottom: 25px;
}
h3 {
    font-size: 28px;
    padding-bottom: 25px;
}
h4 {
    font-size: 16px;
}
img {
    width: 100%;
}
a {
    color: black;
}
p {
    padding-bottom: 25px;
}
.link-text a {
    color: #0061ff;
}
/*Botton*/
.btn {
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
}
.btn a {
    text-decoration: none;
}
.btn-small {
    font-size: 12px;
}
.btn-full {
    font-size: 16px;
}
.btn-light-blue {
    background-color: #0061ff;
    color: white;
}
.btn-light-blue a {
    color: white;
}
.btn-white {
    background-color: white;
}
.space-cta {
    margin: 30px 0 20px 0;
}

/*Icon*/
.icon-arrow {
    font-size: 40px;
    display: block;
    padding-top: 40px;
}

/*Circle*/
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
}
.circle-border {
    border: 3px solid #0061ff;
}

/*HEADER*/
header {
    background-color: white;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
header ul {
    display: flex;
}
.container-nav {
    width: 97%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.container-nav ul {
    list-style-type: none;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.container-nav a {
    text-decoration: none;
}
.main-menu li {
    margin-right: 35px;
}
.secondary-menu li {
    margin-left: 35px;
}

/*MAIN*/
main {
    margin-top: 60px;
}
/*Jambotron*/
.jambotron {
    height: 750px;
    margin-bottom: 80px;
}
.jt-container {
    position: relative;
    bottom: -120px;
}
.jt-content {
    padding-top: 50px;
}
.jt-col-small {
    width: 35%;
    padding-right: 30px;
}
.jt-col {
    width: 65%;
}

/*Module Pricing Table*/
.container-pricing-tab {
    padding: 30px 0;
}
.pricing-tab {
    justify-content: space-between;
    margin: 30px 0;
}
.pt-col {
    width: calc( (100% / 3) - 42px);
}
.pt-border {
    border: 1px solid gray;
}
.pt-header {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 12px 0;
    font-weight: 400;
    font-size: 16px;
}
.pt-content {
    padding: 30px 20px 100px 20px;
    font-size: 14px;
}
.text-col-small {
    padding: 30px 0px 0px 50px;
}
.pt-content li {
    padding: 12px 0;
}
.evidence-tab {
    font-size: 16px;
    font-weight: 700;
    padding: 25px 0;
}
.pt-content .pt-enterprise {
    display: inline-block;
    width: 100%;
    margin: 0 autp;
}
.pt-col-long {
    width: 70%;
}
.pt-col-small {
    width: 30%;
}
.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin,1.5em);
    padding-left: 0;
}

/*Section Image e Text*/
.img-col-large {
    width: 52%;
}
.text-col-small {
    width: 48%;
}

/*Section Card*/
.three-col {
    justify-content: space-between;
    flex-wrap: wrap;

}
.card-col {
    width: calc((100% / 3) - 25px);
}
.card {
    margin-top: 30px;
}

/*Section Partner*/
.full-container {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.partner-col-container {
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}
.partner-col-main {
    width: 40%;
    background-color: #f5f5f5;

}
.partner-main {
    padding: 50px;
}
.partner-main img {
    width: 130px;
}
.partner-square {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.square {
    width: 100%;
    height: 100%;
}
.square img {
    width: 130px;
    margin: 0 auto;
    filter: invert(1);
}
.square-green {
    background-color: #a2d39b;
}
.square-green:hover {
    border: 12px solid #d0e9cd;
}
.square-maroon {
    background-color: #61082b;
}
.square-maroon:hover {
    border: 12px solid #9e0c46;
}
.square-deepskyblue {
    background-color: #0093ce;
}
.square-deepskyblue:hover {
    border: 12px solid #2bb7ee;
}
.square-redlight {
    background-color: #ff1c1c;
}
.square-redlight:hover {
    border: 12px solid #fd5e5e;
}
.square-red {
    background-color: #ff1c1c;
}
.square-red:hover {
    border: 12px solid #ff4964;
}
.square-lightblue {
    background-color: #b4d0e7;
}
.square-lightblue:hover {
    border: 12px solid #d4e9fa;
}
.square-blue {
    background-color: #0d2481;
}
.square-blue:hover {
    border: 12px solid #2949c9;
}
.square-yellow {
    background-color: #ffd830;
}
.square-yellow:hover {
    border: 12px solid #ffea8b;
}
.marron {
    color: #61082b;
}

